{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}
<header class='header'>
  {{#with header}}

    <div class='header_log'>
      <div class='head_log'>
        <div class='logo'>{{brandName}}</div>
      </div>
      <div class='header_links'>
        {{#each links}}
          <div class='links'>
            <a href='{{url}}'>{{text}}</a>
          </div>
        {{/each}}
      </div>
    </div>
    <div class='head_foot'>
      {{#with ad}}
        <button href='{{url}}' class='btn_ad'>Ad</button>
        <div class='btn_txt'>{{text}}</div>
      {{/with}}
      <p class='dop_txt'>UserOnline: {{userOnline}}</p>
    </div>

  {{/with}}
</header>

{{!==============hero=====================!}}
{{#with hero}}
  <div class='hero'>
    <h1 class='hero_title'>{{title}}</h1>
    <div class='hero_text'>{{description}}</div>
    {{#with button}}
      <a href='{{url}}' class='hero_btn'>{{text}}</a>
    {{/with}}
  </div>
{{/with}}

{{!==============hero=====================!}}

{{!=============about======================!}}

{{#with about}}
  <div class='about'>
    <h1>{{heading}}</h1>
    <p>{{info}}</p>
  </div>
{{/with}}

{{!=============about======================!}}

{{!=============articles======================!}}

<main class='main'>
  <h1>Our Articles</h1>
  <div class='articles'>
    {{#each articles}}
      <div class='main_content'>
        <img src='{{photo}}' class='img' />
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <button class='main_btn'>Read All</button>
      </div>
    {{/each}}
  </div>

</main>

{{!==============articles=====================!}}
<footer class='footer'>
  {{#with footer}}
    <div class='footer_content'>
      {{#each pages}}
        <div class='footer_title'>
          <a href='{{path}}'>{{name}}</a>
        </div>
      {{/each}}
    </div>
    <div>{{copyright}}</div>

  {{/with}}
</footer>