 
   
    <header class='header'>
      <a href="#test">
         {{>logo}}
      </a>
      
            <nav class='header_nav'>
              <div class="header_nav_right">
              {{> nav list=header}}
              </div>
            </nav>
     
     </header> 
{{!===================================!}}
    <main class="main"> 
      <div class="info">
        <h1>{{info.title}}</h1>
        <p>{{info.description}}</p>
      </div>
   
      {{#with form}}
        <form class="form">
          <div class="form_input_list">
            {{#each inputs}}
              <input type="{{type}}" placeholder="{{placeholder}}" class="form_input" name="{{name}}" id="form-input-{{id}}"/>
            {{/each}}
          </div>

          <div class="form_checkbox">
            <input type="checkbox" id="{{checkbox.name}}">
            <div></div>
            <label for="{{checkbox.name}}">{{checkbox.label}}</label>
          </div>
          <button type="submit" class="form_button">{{button}}</button>
          <p class="form_info">{{info}}</p>
        </form>
      {{/with}}
    </main>
{{!===================================!}}
    
  {{#with updates}}
    <div class="updates">
      <div class="upd_title">
          <h1>{{title}}</h1>
      </div>
     
      {{#each list}}
        <div class="upd_list">
          <div  class="upd_img"></div>
          <div class="upd_content">
          <strong>{{nickname}}</strong>
          <p>{{description}}</p>
          </div>
        </div>
      {{/each}}
      <div class="upd_show">
          <a href="{{show_all.url}}" class="upd_btn">{{show_all.text}}</a>
      </div>
    </div>
  {{/with}}
{{!===================================!}}


  {{#with expirience}}
    <div class="expirience">
      <div class="bdg">
        <botton class="bdg_btn">{{badge}}</botton>
  </div>
      <div class="exp_title">
        <h1>{{title}}</h1>
      </div>
      
      <div class="exp_list">
        {{#each list}}
        <div class="exp_content">
          <span class="exp_name">{{name}}</span>
          <p class="exp_details">{{details}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  {{/with}}
{{!===================================!}}
    <footer class="footer" id="test">
      <div>
          {{> logo}}
          <span class="footer_copyright">Copyright 2023-2024</span>
      </div>
      {{#each footer}}
        <div class="col-3">
            <span class="footer_title">{{title}}</span>
            {{> nav list=links isVertical=true}}
        </div>
      {{/each}}
   
    </footer>
 


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}