{{#with data}}
  <div class='featured_data'>

    <div
      class='featured_image'
      style='background-image: url({{photo}})'
    ></div>
    <h2 class='featured_title'>{{heading}}</h2>
    <p class='featured_text'>{{info}}</p>
    <div>
      <button
        class='btn featured_button'
        href='{{linkUrl}}'
      >{{linkText}}</button>
    </div>

  </div>
{{/with}}